In [1]:
import pandas as pd

In [3]:
data_series = pd.Series(["UCLA", "UC Berkeley", "UC Irvine", "University of Central Florida", "Rutgers University"])

In [5]:
data_series

0                             UCLA
1                      UC Berkeley
2                        UC Irvine
3    University of Central Florida
4               Rutgers University
dtype: object

In [6]:
print(data_series)

0                             UCLA
1                      UC Berkeley
2                        UC Irvine
3    University of Central Florida
4               Rutgers University
dtype: object

In [7]:
data_series[2]

'UC Irvine'

In [8]:
data_series[4]

'Rutgers University'

In [16]:
#We're also going to talk about a Data Frame
df = pd.DataFrame({"Dynasty": ["Early Dynastic Period", "Old Kingdom"],
                    "Pharoh": ["Thinis", "Memphis"]})

In [17]:
df

                 Dynasty   Pharoh
0  Early Dynastic Period   Thinis
1            Old Kingdom  Memphis